@charset "utf-8";
/* media querie - max-width of viewport:550px */

/* ====================== footer detailes ====================== */
#footer {
  font-size: 6pt;
}
/* ====================== Navigation ====================== */
#pageTitle h1 {
  padding: 5px;
}
#pageTitle h1 a {
  font-size: 16pt;
}
#breadcrumb {
  font-size: 20px;
  width: 100%;
}

#breadcrumb li a {
  text-align: left;
}
/* ====================== Restaurant Filtering ====================== */
/*add responsive to make filter options menues next each other and wrap when the viewport is too small */
.filter-options {
  display: flex;
  flex-wrap: wrap;
}
.filter-options h3 {
  width: 100%;
  padding: 5px 0;
}
.filter-options select {
  font-size: 8pt;
  width: 30%;
}
/*add order for options menues at the viewport */
#neighborhoods-select {
  order: 1;
}
#cuisines-select {
	order: 2;
}
/* ====================== Restaurant Listing ====================== */
/*add responsive to make restaurant's list wrap when the viewport is too small */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
}
/*when the viewport is too small make the list elements side by side*/
#restaurants-list li {
  width: 100%;
}
#restaurants-list li h1 {
  font-size: 10pt;
  text-align: center;
  padding: 15px 0;
}
#restaurants-list p {
  font-size: 9pt;
}
/* ====================== Restaurant Details ====================== */
/*add responsive to make main contents side by side when the viewport is too small */
.inside #maincontent {
  display: flex;
  flex-wrap: wrap;
}
.inside #map-container {
  width: 100%;
  height: 35%; //= 260 PX
  order:1;
}
.inside #footer {
  width: 100%;
}
#restaurant-name {
	font-size: 14pt;
}
#restaurant-container {
  padding: 390px 40px 30px;
	width: 100%;
  order: 2;
}
#reviews-container h3{
	font-size: 14pt;
}
#reviews-container {
  width: 100%;
  order: 3;
}
